<div class="invoice" [routerLink]="['/view-invoice', id]">
    <strong class="invoice__id">
        <span>#</span>{{ id }}
    </strong>
    <span class="invoice__name">
        {{ clientName }}
    </span>
    <div class="invoice__data">
        <span class="invoice__data-date">
            Due {{ date | date : "d MMM y" }}
        </span>
        <strong class="invoice__data-value">
            {{ value | currency : "GBP" : "£ " }}
        </strong>
    </div>
    <div statusColorDirective [currentStatus]="status" class="invoice__status">
        <span class="invoice__status-circle"></span>
        {{ status | titlecase }}
    </div>
</div>
