@use "../../../scss/variables" as v;
@use "../../../scss/mixins" as m;

.status-tag {
    justify-self: end;
    text-align: center;
    width: 104px;
    background-color: v.$green-opaque;
    color: v.$green;
    font-size: 15px;
    font-weight: bold;
    border-radius: 6px;
    padding: 14px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    &::before {
        content: '';
        height: 8px;
        width: 8px;
        background-color: v.$green;
        border-radius: 50%;
    }
}

.paid {
    @include m.statusTagColor(v.$green, v.$green-opaque)
}
.pending {
    @include m.statusTagColor(v.$orange, v.$orange-opaque)
}
.draft {
    @include m.statusTagColor(v.$light-blue, v.$light-blue-opaque)
}