<aside class="wrapper">
    <button class="go-back-btn" (click)="closeSidenav()">
        Go back
    </button>

    <form class="form" [formGroup]="form">
        <h3 class="form__title" *ngIf="formType === 'create'">
            New invoice
        </h3>
        <h3 class="form__title" *ngIf="formType === 'edit'">
            Edit <span>#</span>{{ invoiceId }}
        </h3>
        <div class="form__bill-from" formGroupName="billFrom">
            <span class="form__section-title">Bill from</span>
            <div class="form__bill-from-inputs">
                <label class="form__label form__bill-from-label" for="street">
                    Street Address
                    <input class="form__input" type="text" id="street" formControlName="street">
                </label>

                <label class="form__label form__bill-from-label" for="city">
                    City
                    <input class="form__input" type="text" id="city" formControlName="city">
                </label>

                <label class="form__label form__bill-from-label" for="postCode">
                    Post Code
                    <input class="form__input" type="text" id="postCode" formControlName="postCode">
                </label>

                <label class="form__label form__bill-from-label" for="country">
                    Country
                    <input class="form__input" type="text" id="country" formControlName="country">
                </label>
            </div>
        </div>

        <div class="form__bill-to" formGroupName="billTo">
            <span class="form__section-title">Bill to</span>
            <div class="form__bill-to-inputs">
                <label class="form__label form__bill-to-label" for="clientName">
                    Client's name
                    <input class="form__input" type="text" id="clientName" formControlName="clientName">
                </label>
                <label class="form__label form__bill-to-label" for="clientEmail">
                    Client's email
                    <input class="form__input" type="text" id="clientEmail" formControlName="clientEmail">
                </label>
                <label class="form__label form__bill-to-label" for="clientStreet">
                    Street Address
                    <input class="form__input" type="text" id="clientStreet" formControlName="clientStreet">
                </label>
                <label class="form__label form__bill-to-label" for="city">
                    City
                    <input class="form__input" type="text" id="city" formControlName="city">
                </label>
                <label class="form__label form__bill-to-label" for="postCode">
                    Post Code
                    <input class="form__input" type="text" id="postCode" formControlName="postCode">
                </label>
                <label class="form__label form__bill-to-label" for="country">
                    Country
                    <input class="form__input" type="text" id="country" formControlName="country">
                </label>
                <label class="form__label form__bill-to-label" for="invoiceDate">
                    Invoice date
                    <input class="form__input" type="date" id="invoiceDate" formControlName="invoiceDate">
                    <span>{{ invoiceDate.value | date : 'dd MMM yyyy' }}</span>
                </label>
                <label class="form__label form__bill-to-label" for="paymentTerms">
                    Payment Terms
                    <img src="icon-arrow-down.svg" alt="">
                    <select class="form__input select" id="paymentTerms" formControlName="paymentTerms">
                        <option class="form__input-option" value="1">Next day</option>
                        <option class="form__input-option" value="7">Next 7 days</option>
                        <option class="form__input-option" value="30">Next 30 days</option>
                    </select>
                </label>
                <label class="form__label form__bill-to-label" for="projectDescription">
                    Project description
                    <input class="form__input" type="text" id="projectDescription" formControlName="projectDescription">
                </label>
            </div>
        </div>

        <ul class="form__items-list" formArrayName="itemsList">
            <span class="form__section-title">Items</span>
            <li class="form__items-list-item" 
                *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                <label 
                    class="form__label form__items-list-label" 
                    for="item-{{ i }}">
                        Item Name
                    <input class="form__input" type="text" id="item-{{ i }}" formControlName="name">
                </label>
                <div class="form__items-list-item-info">
                    <label class="form__label" for="qty">
                        Qty.
                        <input class="form__input" type="number" id="qty" formControlName="quantity">
                    </label>
                    <label class="form__label" for="price">
                        Price
                        <input class="form__input" type="text" id="price" formControlName="price" mask="separator.2" thousandSeparator=".">
                    </label>
                    <label class="form__label" for="total">
                        Total
                        <input tabindex="-1" class="form__input" type="text" id="total" formControlName="total" readonly>
                    </label>
                    <button class="form__items-list-remove-btn" 
                        (click)="removeItem(i)">
                        <img src="icon-delete.svg" alt="">
                    </button>
                </div>
            </li>
            <button class="form__items-list-item-add-new" 
                (click)="addNewItem()">
                + Add New Item
            </button>
        </ul>

        <div class="form__actions">

            <ng-container *ngIf="formType === 'create'; else edit">
                <button class="form__actions-discard"
                    (click)="discardChangesAndClose()">
                    Discard
                </button>
                <button class="form__actions-draft">Save as Draft</button>
                <button class="form__actions-save">Save & Send</button>
            </ng-container>

            <ng-template #edit>
                <button class="form__actions-cancel">Cancel</button>
                <button class="form__actions-save" [disabled]="form.untouched" (click)="editInvoice(invoiceId)">
                    Save changes
                </button>
            </ng-template>
            
        </div>
    </form>

</aside>