<aside class="wrapper" [ngClass]="{ 'light-bg': isDarkThemeActive$ | async }">
    <button class="go-back-btn" (click)="closeSidenav()">
        Go back
    </button>

    <form class="form" [formGroup]="form">
        <h3 class="form__title" *ngIf="formType === 'create'" [ngClass]="{ 'dark-text': isDarkThemeActive$ | async }">
            New invoice
        </h3>
        <h3 class="form__title" *ngIf="formType === 'edit'" [ngClass]="{ 'dark-text': isDarkThemeActive$ | async }">
            Edit <span>#</span>{{ invoiceId }}
        </h3>
        <div class="form__bill-from" formGroupName="senderAddress">
            <span class="form__section-title">Bill from</span>
            <div class="form__bill-from-inputs">
                <label class="form__label form__bill-from-label" for="senderStreet" [ngClass]="{ 'semi-dark-text': isDarkThemeActive$ | async }">
                    Street Address
                    <input
                        appMinCharacters
                        class="form__input"
                        [ngClass]="{
                            'light-input': isDarkThemeActive$ | async,
                            'light-input-error': (isDarkThemeActive$ | async) && (senderStreet.touched && senderStreet.hasError('required')) || (!senderStreet.hasError('required') && senderStreet.hasError('invalidValue')),
                            'form__input-error': (senderStreet.touched && senderStreet.hasError('required')) || (!senderStreet.hasError('required') && senderStreet.hasError('invalidValue')),
                        }"
                        type="text" 
                        id="senderStreet"
                        formControlName="senderStreet">
                    <span 
                        class="form__label-error-msg"
                        *ngIf="(senderStreet.touched && senderStreet.hasError('required')) || (!senderStreet.hasError('required') && senderStreet.hasError('invalidValue'))">
                            can't be empty
                    </span>
                </label>

                <label class="form__label form__bill-from-label" for="senderCity">
                    City
                    <input
                        appMinCharacters
                        [mask]="textMask"
                        [patterns]="customPatterns"
                        class="form__input" 
                        [ngClass]="{
                            'light-input': isDarkThemeActive$ | async,
                            'light-input-error': (isDarkThemeActive$ | async) && (senderCity.touched && senderCity.hasError('required')) || (!senderCity.hasError('required') && (senderCity.hasError('minlength') || senderCity.hasError('invalidValue'))),
                            'form__input-error': (senderCity.touched && senderCity.hasError('required')) || (!senderCity.hasError('required') && (senderCity.hasError('minlength') || senderCity.hasError('invalidValue')))
                        }"
                        type="text" 
                        id="senderCity" 
                        formControlName="senderCity">
                    <span class="form__label-error-msg" 
                        *ngIf="(senderCity.touched && senderCity.hasError('required')) || (!senderCity.hasError('required') && (senderCity.hasError('minlength') || senderCity.hasError('invalidValue')))">
                        can't be empty
                    </span>
                </label>

                <label class="form__label form__bill-from-label" for="senderPostCode">
                    Post Code
                    <input
                        appMinCharacters
                        maxlength="10"
                        appUppercase
                        class="form__input" 
                        [ngClass]="{
                            'light-input': isDarkThemeActive$ | async,
                            'light-input-error': (isDarkThemeActive$ | async) && (senderPostCode.touched && senderPostCode.hasError('required')) || (!senderPostCode.hasError('required') && (senderPostCode.hasError('minlength') || senderPostCode.hasError('invalidValue'))),
                            'form__input-error': (senderPostCode.touched && senderPostCode.hasError('required')) || (!senderPostCode.hasError('required') && (senderPostCode.hasError('minlength') || senderPostCode.hasError('invalidValue')))
                        }"
                        type="text" 
                        id="senderPostCode" 
                        formControlName="senderPostCode">
                    <span 
                        class="form__label-error-msg"
                        *ngIf="senderPostCode.touched && senderPostCode.hasError('required')">
                        can't be empty
                    </span>
                    <span 
                        class="form__label-error-msg"
                        *ngIf="!senderPostCode.hasError('required') && senderPostCode.hasError('minlength')">
                        too short
                    </span>
                </label>

                <label class="form__label form__bill-from-label" for="senderCountry">
                    Country
                    <input 
                        appMinCharacters
                        [mask]="textMask"
                        [patterns]="customPatterns"
                        class="form__input"
                        [ngClass]="{
                            'light-input': isDarkThemeActive$ | async,
                            'light-input-error': (isDarkThemeActive$ | async) && (senderCountry.touched && senderCountry.hasError('required')) || (!senderCountry.hasError('required') && (senderCountry.hasError('minlength') || senderCountry.hasError('invalidValue'))),
                            'form__input-error': (senderCountry.touched && senderCountry.hasError('required')) || (!senderCountry.hasError('required') && (senderCountry.hasError('minlength') || senderCountry.hasError('invalidValue')))
                        }"
                        type="text" 
                        id="senderCountry" 
                        formControlName="senderCountry">
                    <span 
                        class="form__label-error-msg"
                        *ngIf="(senderCountry.touched && senderCountry.hasError('required')) || (!senderCountry.hasError('required') && (senderCountry.hasError('minlength') || senderCountry.hasError('invalidValue')))"
                        >
                        can't be empty
                    </span>
                </label>
            </div>
        </div>

        <div class="form__bill-to">
            <span class="form__section-title">Bill to</span>
            <div class="form__bill-to-inputs">
                <label class="form__label form__bill-to-label" for="clientName">
                    Client's name
                    <input 
                        [mask]="textMask"
                        [patterns]="customPatterns"
                        maxlength="20"
                        class="form__input"
                        [ngClass]="{
                            'light-input': isDarkThemeActive$ | async,
                            'light-input-error': (isDarkThemeActive$ | async) && (clientName.touched && clientName.hasError('required')),
                            'form__input-error': clientName.touched && clientName.hasError('required')
                        }"
                        type="text" 
                        id="clientName"
                        formControlName="clientName">
                    <span class="form__label-error-msg" 
                        *ngIf="clientName.touched && clientName.hasError('required')"
                    >
                        can't be empty
                    </span>
                </label>
                <label class="form__label form__bill-to-label" for="clientEmail">
                    Client's email
                    <input 
                        class="form__input"
                        appEmailValidator
                        [ngClass]="{
                            'light-input': isDarkThemeActive$ | async,
                            'light-input-error': (isDarkThemeActive$ | async) && (clientEmail.touched && clientEmail.hasError('invalidEmail')),
                            'form__input-error': clientEmail.touched && clientEmail.hasError('invalidEmail')
                        }"
                        type="text" 
                        id="clientEmail" 
                        formControlName="clientEmail">
                    <span class="form__label-error-msg" 
                        *ngIf="clientEmail.touched && clientEmail.hasError('invalidEmail')"
                    >
                        invalid email
                    </span>
                </label>
                <ng-container formGroupName="clientAddress">
                    <label class="form__label form__bill-to-label" for="clientStreet">
                        Street Address
                        <input
                            class="form__input"
                            type="text"
                            id="clientStreet"
                            [ngClass]="{ 'light-input': isDarkThemeActive$ | async }"
                            formControlName="clientStreet">
                    </label>
                    <label class="form__label form__bill-to-label" for="clientCity">
                        City
                        <input
                            [mask]="textMask"
                            [patterns]="customPatterns"
                            class="form__input"
                            [ngClass]="{ 'light-input': isDarkThemeActive$ | async }"
                            type="text"
                            id="clientCity"
                            formControlName="clientCity">
                    </label>
                    <label class="form__label form__bill-to-label" for="clientPostCode">
                        Post Code
                        <input
                            appUppercase
                            appMinCharacters
                            maxlength="10"
                            class="form__input"
                            [ngClass]="{
                                'light-input': isDarkThemeActive$ | async,
                                'light-input-error': (isDarkThemeActive$ | async) && ((clientPostCode.hasError('minlength') || clientPostCode.hasError('invalidValue'))),
                                'form__input-error': (clientPostCode.hasError('minlength') || clientPostCode.hasError('invalidValue'))
                            }"
                            type="text"
                            id="clientPostCode"
                            formControlName="clientPostCode">
                        <span 
                            class="form__label-error-msg"
                            *ngIf="(clientPostCode.hasError('minlength') || clientPostCode.hasError('invalidValue'))"
                            >
                            too short
                        </span>
                    </label>
                    <label class="form__label form__bill-to-label" for="clientCountry">
                        Country
                        <input
                            [mask]="textMask"
                            [patterns]="customPatterns"
                            [ngClass]="{
                                'light-input': isDarkThemeActive$ | async
                            }"
                            class="form__input"
                            type="text"
                            id="clientCountry"
                            formControlName="clientCountry">
                    </label>
                </ng-container>
                
                <label class="form__label form__bill-to-label" for="invoiceDate">
                    Invoice date
                    <input 
                        class="form__input"
                        [ngClass]="{
                            'light-input': isDarkThemeActive$ | async,
                            'light-input-error': (isDarkThemeActive$ | async) && (createdAt.touched && createdAt.hasError('required')),
                            'form__input-error': createdAt.touched && createdAt.hasError('required')
                        }"
                        type="date" 
                        id="invoiceDate"
                        formControlName="createdAt">
                    <span class="form__bill-to-label-span" [ngClass]="{ 'dark-text': isDarkThemeActive$ | async }">{{ createdAt.value | date : 'dd MMM yyyy' }}</span>
                    <span
                        class="form__label-error-msg"
                        *ngIf="createdAt.touched && createdAt.hasError('required')"
                        >
                        can't be empty
                    </span>
                </label>
                <label class="form__label form__bill-to-label" for="paymentTerms">
                    Payment Terms
                    <img src="icon-arrow-down.svg" alt="">
                    <select 
                        class="form__input select"
                        [ngClass]="{
                            'light-input': isDarkThemeActive$ | async,
                            'light-input-error': (isDarkThemeActive$ | async) && (paymentTerms.touched && paymentTerms.hasError('required')),
                            'form__input-error': paymentTerms.touched && paymentTerms.hasError('required')
                        }"
                        id="paymentTerms" 
                        formControlName="paymentTerms">
                        <option class="form__input-option" value="1">Next day</option>
                        <option class="form__input-option" value="7">Next 7 days</option>
                        <option class="form__input-option" value="30">Next 30 days</option>
                    </select>
                    <span
                        class="form__label-error-msg"
                        *ngIf="paymentTerms.touched && paymentTerms.hasError('required')"
                        >
                        can't be empty
                    </span>
                </label>
                <label class="form__label form__bill-to-label" for="description">
                    Project description
                    <input
                        [mask]="textMask"
                        [patterns]="customPatterns"
                        class="form__input"
                        [ngClass]="{
                            'light-input': isDarkThemeActive$ | async,
                            'light-input-error': (isDarkThemeActive$ | async) && (description.touched && description.hasError('required')),
                            'form__input-error': description.touched && description.hasError('required')
                        }"
                        type="text" 
                        id="description" 
                        formControlName="description">
                    <span
                        class="form__label-error-msg"
                        *ngIf="description.touched && description.hasError('required')"
                        >
                        can't be empty
                    </span>
                </label>
            </div>
        </div>

        <ul class="form__items-list" formArrayName="items" appMinItemsValidator>
            <span class="form__section-title">Items</span>
            <span class="form__items-list-error-msg" *ngIf="items.length <= 0">
                You must add at least one item
            </span>

            <li class="form__items-list-item" 
                *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                
                <label 
                    class="form__label form__items-list-label" 
                    for="item-{{ i }}">
                        Item Name
                    <input
                        appMinCharacters
                        [mask]="textMask"
                        [patterns]="customPatterns"
                        class="form__input"
                        [ngClass]="{
                            'light-input': isDarkThemeActive$ | async,
                            'light-input-error': (isDarkThemeActive$ | async) && ((item.get('name')?.touched && item.get('name')?.hasError('required')) || (!item.get('name')?.hasError('required') && (item.get('name')?.hasError('minlength') || item.get('name')?.hasError('invalidValue')))),
                            'form__input-error': (item.get('name')?.touched && item.get('name')?.hasError('required')) || (!item.get('name')?.hasError('required') && (item.get('name')?.hasError('minlength') || item.get('name')?.hasError('invalidValue')))
                        }"
                        type="text" 
                        id="item-{{ i }}" 
                        formControlName="name">
                    <span 
                        class="form__label-error-msg"
                        *ngIf="(item.get('name')?.touched && item.get('name')?.hasError('required')) || (!item.get('name')?.hasError('required') && (item.get('name')?.hasError('minlength') || item.get('name')?.hasError('invalidValue')))"
                        >
                        can't be empty
                    </span>
                </label>
                <div class="form__items-list-item-info">
                    <label class="form__label" for="qty">
                        Qty.
                        <input
                            appOnlyLetters
                            appMinQtyOrPrice
                            maxlength="2"
                            class="form__input"
                            [ngClass]="{
                                'light-input': isDarkThemeActive$ | async,
                                'light-input-error': (isDarkThemeActive$ | async) && ((item.get('quantity')?.touched && item.get('quantity')?.hasError('required')) || (!item.get('quantity')?.hasError('required') && item.get('quantity')?.hasError('minQtyOrPrice'))),
                                'form__input-error': (item.get('quantity')?.touched && item.get('quantity')?.hasError('required')) || (!item.get('quantity')?.hasError('required') && item.get('quantity')?.hasError('minQtyOrPrice'))
                            }"
                            type="text" 
                            id="qty" 
                            formControlName="quantity">
                        <span 
                            class="form__label-error-msg qty-price"
                            *ngIf="(item.get('quantity')?.touched && item.get('quantity')?.hasError('required')) || (!item.get('quantity')?.hasError('required') && item.get('quantity')?.hasError('minQtyOrPrice'))"
                            >
                            can't be 0
                        </span>
                    </label>
                    <label class="form__label" for="price">
                        Price
                        <input
                            appOnlyLetters
                            maxlength="5"
                            class="form__input"
                            [ngClass]="{
                                'light-input': isDarkThemeActive$ | async,
                                'light-input-error': (isDarkThemeActive$ | async) && ((item.get('price')?.touched && item.get('price')?.hasError('required')) || (!item.get('price')?.hasError('required') && item.get('price')?.hasError('minQtyOrPrice'))),
                                'form__input-error': (item.get('price')?.touched && item.get('price')?.hasError('required')) || (!item.get('price')?.hasError('required') && item.get('price')?.hasError('minQtyOrPrice'))
                            }"
                            type="text" 
                            id="price" 
                            formControlName="price" >
                        <span
                            class="form__label-error-msg qty-price"
                            *ngIf="(item.get('price')?.touched && item.get('price')?.hasError('required')) || (!item.get('price')?.hasError('required') && item.get('price')?.hasError('minQtyOrPrice'))"
                            >
                            can't be 0
                        </span>
                    </label>
                    <label class="form__label" for="total">
                        Total
                        <input 
                            tabindex="-1" 
                            class="form__input" 
                            type="text" 
                            id="total" 
                            formControlName="total"
                            readonly>
                    </label>
                    <button class="form__items-list-remove-btn" 
                        (click)="removeItem(i)">
                        <img src="icon-delete.svg" alt="">
                    </button>
                </div>
            </li>
            <button class="form__items-list-item-add-new" 
                [ngClass]="{ 'dark-text-btn': isDarkThemeActive$ | async }"
                (click)="addNewItem()
                ">
                + Add New Item
            </button>
        </ul>

        <div class="form__actions" [ngClass]="{ 'light-bg': isDarkThemeActive$ | async }">

            <ng-container *ngIf="formType === 'create'; else edit">
                <button class="form__actions-discard"
                    (click)="discardChangesAndClose()"
                    [ngClass]="{ 'dark-text-btn': isDarkThemeActive$ | async }"
                    >
                    Discard
                </button>
                <button [disabled]="form.invalid" class="form__actions-draft" (click)="createNewInvoice('draft')">Save as Draft</button>
                <button [disabled]="form.invalid" class="form__actions-save" (click)="createNewInvoice('pending')">Save & Send</button>
            </ng-container>

            <ng-template #edit>
                <button class="form__actions-cancel" (click)="discardChangesAndClose()">Cancel</button>
                <button class="form__actions-save" [disabled]="form.untouched || form.invalid" (click)="editInvoice(invoiceId)">
                    Save changes
                </button>
            </ng-template>
            
        </div>
    </form>

</aside>