@use "../scss/variables" as v;

.example-container {
  min-width: 100%;
  height: calc(100% - 72px);
  background-color: v.$dark-blue;
}

.sidenav {
  width: 100%;
  background-color: v.$dark-blue;
}

@media screen and (min-width: 768px) {
  .sidenav {
    width: 616px;
    padding: 2rem;
  }
}
