@use "../scss/variables" as v;

.example-container {
  min-width: 100%;
  height: calc(100% - 72px);
  background-color: v.$dark-blue;
}

.sidenav {
  width: 100%;
  background-color: v.$dark-blue;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .sidenav {
    width: 616px;
    scrollbar-width: thin;
    scrollbar-color: #666 transparent;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #666;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #888;
    }
  }
}
