@use "../scss/variables" as v;

.example-container {
  min-width: 100%;
  height: calc(100% - 72px);
  background-color: v.$dark-blue;
}

.sidenav {
  width: 100%;
  background-color: v.$dark-blue;
  // padding: 1.5rem;
}
