<section class="invoices">
    <div class="invoices__header">
        <div class="invoices__info">
            <strong class="invoices__info-title">Invoices</strong>
            <span class="invoices__info-amount">7 invoices</span>
        </div>
        <div class="invoices__actions">
            <button class="invoices__actions-filter">
                Filter            
            </button>
            <button class="invoices__actions-create">
                <img src="icon-plus.svg" alt="">
                New
            </button>
        </div>
    </div>

    <ul class="invoices__list">

    </ul>
</section>
