<section class="invoices">
    <div class="invoices__header">
        <div class="invoices__info">
            <strong class="invoices__info-title">Invoices</strong>
            <span class="invoices__info-amount">7 invoices</span>
        </div>
        <div class="invoices__actions">
            <button class="invoices__actions-filter">
                Filter            
            </button>
            <button class="invoices__actions-create">
                <img src="icon-plus.svg" alt="">
                New
            </button>
        </div>
    </div>

    <ul class="invoices__list">
        @for (invoice of invoices$ | async; track $index) {
            <app-invoice
                [id]="invoice.id"
                [clientName]="invoice.clientName"
                [date]="invoice.createdAt"
                [value]="invoice.total"
                [status]="invoice.status"
            ></app-invoice>
        } @empty {
            
        }
        
    </ul>
</section>
