@use "./scss/reset";
@use "./scss/angular-material";
@use "./scss/variables" as v;

body {
    background-color: v.$dark-blue;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
