@font-face {
    font-family: "League Spartan";
    src: url(../assets/fonts/LeagueSpartan-VariableFont_wght.ttf);
}

$violet-blue: #7C5DFA;
$lavender: #9277FF;
$dark-blue: #1E2139;
$night-blue: #252945;
$light-blue: #DFE3FA;
$blue-gray: #888EB0;
$blue-gray-border: #494E6E;
$sky-blue: #7E88C3;
$deep-black: #0C0E16;
$coral-red: #EC5757;
$light-pink: #FF9797;
$white: #FFFFFF;
$snow-white: #F8F8FB;
$blue-black: #141625;
$League-Spartan: "League Spartan", sans-serif;
